


body {
   background-color: black;
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #3483eb;
}


.popularity {
  color: #3483eb;
  text
}


h2 {
  display: flex;
  justify-content: center;
  height: auto;
  color: #3483eb;
  margin-left: 30%;
  margin-right: 30%;
}


h3 {
  display: flex;
  justify-content: center;
  height: auto;
  color: #3483eb;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}


.P_bar_desc {
color: #3483eb;
}



a {
  text-decoration: none;
}


h4 {
  color: #3483eb;
}


.act-btn{
  color: #3483eb;
  background-color: black;
  border: 1px solid #c8c8c8;
  display: block;
  margin-left: 34%;
  margin-top: 80px;
  width: 30%;
  height: 60px;
  font-size: 40px;
}


.act-btn:hover{
cursor: pointer;
background-color: #3483eb;
color: black;
}


.chooser {
  color: #3483eb;
  background-color: black;
  font-size: 20px;
  margin-left: 34%;
  width: 30%;
}

.prompt {
 color: #3483eb;
 font-size: 34px;
 margin-top: 8%;

}


.selectButton {
  color: #3483eb;
  background-color: black;
  border: 1px solid #c8c8c8;
  display: block;
  margin-left: 34%;
  margin-top: 80px;
  width: 30%;
  height: 60px;
  font-size: 40px;
}


.selectButton:hover {
  cursor: pointer;
  background-color: #3483eb;
  color: black;
}


.selectButton:active {
	position:relative;
	top:1px;
}
